<%- include('./partials/header') %>

<header>
    <h1 class="main-index-header">OPENING ACT</H1> 

<br>
<div class="flex-main-index">
  <h5>If you're an artist looking for a stage to perform on.<br> 
      Or a venue in need of up and coming talent.<br>
      Opening Act is for you!</h5>
  <br>

  <div class="signup-login-main">
  <div class="signup">
    <button class="home-btn"><a href="/signup">Sign Up</a></button>
  </div>
    <br>
  <div class="login">
    <button class="home-btn"><a href="/login">Log In</a></button>
  </div>
</div>
</div>




 




<%- include('./partials/footer') %>