<%- include('./partials/header') %>

<header>
    <h1 class="main-index-header">OPENING ACT</H1><br>
<div class="flex-main-index">
  <h5>Are you an artist looking for a venue where you can play or a fellow musician to collaborate with?<br>
  Are you a venue looking for new talent to grace your stage?<br>
  We’re Opening Act: Your online destination for music collaborations.</h5>
  <br>

<div class="signup-login-main">
<div class="signup">
    <button class="home-btn"><a style="color: black" class="signup-login-after" href="/signup">Sign Up</a></button>
</div>
    <br>
<div class="login">
    <button class="home-btn"><a style="color: black" class="signup-login-after" href="/login">Log In</a></button>
</div>
</div>
</div>




 




<%- include('./partials/footer') %>