<%- include('../partials/header') %>

<header>
    <h1>OPENING ACT</H1> 
    <nav>
        <ul class="nav-bar">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="/venues">Search Venues</a></li>
        <li class="nav-list"><a href="/artists">Search Artists</a></li>
        <li class="nav-list"><a href="#">Contact</a></li>
        <li class="nav-list"><a href="#">About</a></li>
        <li class="nav-list"><a href="/auth/logout">Log Out</a></li>
        </ul>
    </nav>
</header>

<main>


<form action="/venues" method="POST">
    Venue Name:<input type="text" name="name"><br>
    Pic:<input type="text" name="url"><br> 
    Gig Info:<input type="text" name="gigInfo"><br>
    Address:<input type="text" name="address"><br>
    Pay:<input type="text" name="pay"><br>
    <button type="submit">Submit Venue</button>
</form>

</main>




<%- include('../partials/footer') %>