.singup-login {
    display: flex; 
    flex-direction: row; 
}
.signup-login-option {
    font-size: 1.3rem; 
}

.index-details {
    display: flex;
    flex-direction: row; 
    font-size: 1.5rem; 
    list-style-type: none;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}

.index-details:visited {
    color: $second-font-color; 
}
.index-photo {
   border: 1px solid $second-font-color; 
   border-radius: 2%; 
   box-shadow:  0 2rem 6rem rgba(0,0,0,.3);
}

.show-radius {
border: 1px solid $second-font-color; 
   border-radius: 2%; 
   box-shadow:  0 2rem 6rem rgba(0,0,0,.3);
}

.show-column {
    display: flex; 
    flex-direction: column; 
}

.show-info-font {
    font-size: 2.2rem; 
    text-transform: capitalize;
}

.show-info {
    font-size: 1.5rem; 
    margin-left: 20.6rem; 
    margin-top: 2rem; 
}

.main-index-header {
    text-align: center; 
    font-size: 8rem; 
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -.3rem .7rem rgba(0,0,0,.3);
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; 
}

.flex-main-index {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.signup-login-main {
    margin-top: 4rem; 
}

.page-header {
    text-align: center; 
    font-size: 4rem; 
    letter-spacing: .3rem; 
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -.3rem .7rem rgba(0,0,0,.3);
}

select {
    width: 11rem; 
}

.show-profile {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    margin-right: -6.7rem;
}

.show-profile2 {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    margin-right: 18.7rem;
}

.venue-show-info-font {
    font-size: 2rem; 
}

.venue-flex-show {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.venue-info-column {
    display: flex; 
    flex-direction: column; 
}

.login-flex {
    display:flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 10rem; 
}

.edit-flex {
    display:flex; 
    padding: .5rem; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 10rem; 
}

.show-info-up {
    margin-top: -10rem;
}

.select-menu {
    margin-left: 3rem; 
}

.select-signup {
    margin-right: 4rem; 
}

.move-signup-up {
    margin-bottom: 4rem; 
}