$main-font-color: #fff; 
$second-font-color: #000; 

.info-btns {
    display: flex; 
    flex-direction: row; 
}

button{
    color: $second-font-color;  
    width: 10rem; 
    height: 3rem; 
    border-radius: 10rem; 
    font-size: 1.5rem; 
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    outline: none;    
}

.edit-prof-btn {
    margin-left: 3rem;
    margin-top: 3rem;
}

button:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.home-btn {
    color: $second-font-color !important; 
    padding: .5rem; 
    width: 13rem; 
    height: 4rem; 
    border-radius: 10rem; 
    font-size: 1.5rem;
    border: 1px solid $second-font-color; 
    box-shadow:  -.3rem .3rem 1.5rem rgba(0,0,0,.3);
    text-align: center;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    outline: none; 
}

.book-it {
    font-size: 2rem; 
    border: .2rem solid $main-font-color; 
    padding: 1.5rem; 
    border-radius: 4%;
    background: none;
    position: relative;
    font-weight: 400; 
}

.book-it:hover {
    color: $second-font-color;
  }

.book-it::before,
.book-it::after {
  background: $main-font-color;
  content: '';
  position: absolute;
  z-index: -1;
}
  
.book-it::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }

.book-it:hover:after {
    height: 100%;
  }

.book-it,
.book-it::after {
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
}

.lets-collab {
    border: .2rem solid $main-font-color; 
    border-radius: 4%; 
    padding: 1.5rem; 
    width: 16rem; 
    background: none;
    position: relative;
    font-weight: 400; 
}

.lets-collab:hover {
    color: $second-font-color;
  }

.lets-collab::before,
.lets-collab::after {
  background: $main-font-color;
  content: '';
  position: absolute;
  z-index: -1;
}
  
  /* BUTTON 1 */
.lets-collab::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }

.lets-collab:hover:after {
    height: 100%;
  }

.lets-collab,
.lets-collab::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.signup-login-after {
    color: #000 !important; 
}

.signup-login-main {
    color: #000 !important; 
}


.signup-login-after:visited {
    color: $second-font-color;
}

.venue-show-btn-center {
    margin-left: 62rem;
    margin-top: 9rem;
}

.center-e-btn{
    margin-right: 2rem; 
}

.show-btn-column {
    display: flex; 
    flex-direction: column; 
}

.home-btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
.home-btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-center {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 2rem;
    margin-top: 11rem;
    background-color: #848E81; 
}

.login-btn {
    width: 14rem; 
    margin-left: 2rem; 
}

.signup-btn {
    margin-left: 2.2rem; 
    width: 13rem; 
}

.edit-delete-btn {
    width: 14rem; 
    height:4rem; 
    
}
