<%- include('../partials/header') %>

<main>

<h1>Create your artist profile</h1>

<form action="/artists" method="POST">
    Artist Name:<input type="text" name="alias"><br>
    Pic:<input type="text" name="url"><br>  
    Link:<input type="text" name="link"><br>
    Bio:<input type="text" name="bio"><br>
    Booking Info:<input type="text" name="bookingInfo"><br>
    Genre:<input type="text" name="genre"><br>
    City:<input type="text" name="city"><br>
    <button type="submit">submit</button>
</form>

</main>




<%- include('../partials/footer') %>